<div class="container">
    <div class="details-container">
        <p class="blue-tag">All Showtimes</p>
        <h1 class="type">
            <span class="bold-type">See</span> a Movie
        </h1>
        <p class="big-text">
            A crew of underwater researchers must scramble to safety after an earthquake devastates their subterranean laboratory.
        </p>
    </div>
    <div class="extra-spacing-container">
        <div class="shows-container">
            <p class="name">{{movies[0].title}}</p>
            <p class="blue-tag">{{findGenres(movies[0].genre_ids)}}</p>
            <p class="name">{{movies[1].title}}</p>
            <p class="blue-tag">{{findGenres(movies[1].genre_ids)}}</p>
            <p class="name">{{movies[2].title}}</p>
            <p class="blue-tag">{{findGenres(movies[2].genre_ids)}}</p>
            <p class="name">{{movies[3].title}}</p>
            <p class="blue-tag">{{findGenres(movies[3].genre_ids)}}</p>
            <p class="name">{{movies[4].title}}</p>
            <p class="blue-tag">{{findGenres(movies[4].genre_ids)}}</p>
        </div>
    </div>
    <div class="image"></div>
</div>
