<div class="container">
    <div class="footer-container">
        <p class="red-tag" style="width: 14rem;margin:2rem">Experience Movies like no other</p>
    </div>

    <div class="column">
        <p class="grey-tag">Movies</p>
        <p class="text" style="font-weight: normal;">{{movies[0].title}}</p>
        <p class="text" style="font-weight: normal;">{{movies[1].title}}</p>
        <p class="text" style="font-weight: normal;">{{movies[2].title}}</p>
        <p class="text" style="font-weight: normal;">{{movies[3].title}}</p>
        <p class="text" style="font-weight: normal;">{{movies[4].title}}</p>
    </div>
    <div class="column">
        <p class="grey-tag">Info</p>
        <p class="text" style="font-weight: normal;">chhapariakeshavgmail.com.com</p>
    </div>
    <div class="background-pic">
        
    </div>
</div>