<mat-toolbar class="toolbarNav">
    <button mat-flat-button routerLink="/home" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">
        home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-flat-button routerLink="/movies" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">movie
      </mat-icon>
      <span>Movies</span>
    </button>
    <button mat-flat-button routerLink="/contact-us" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">call</mat-icon>
      <span>Contact Us</span>
    </button>
    <button mat-flat-button routerLink="/about" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">info</mat-icon>
        <span>About</span>
      </button>
</mat-toolbar>