.container{
    opacity: 1;
	position: absolute;
	height: 100%;
	width: 19vw;
	box-sizing: border-box;
	display: inline-block;
	z-index: 2;
	@media (max-width: 585px) {
		display: block;
	}
}

.empty-space{
    height: 35vh;
	@media (max-width: 855px) {
		height: 7vh !important;
	}
}

.subcontainer{
    position: absolute;
	height: 100%;
	width: 20vw;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 100;
	background-color: rgba(256, 256, 256, 0.05);
	@media (max-width: 855px) {
		width: 30vw;
	}
	@media (max-width: 585px) {
		width: 100vw;
		background-color: rgba(256, 256, 256, 0.2);
		position: static;
	}
}

.text{
    color: #fff;
	font-size: 0.9rem;
	font-family: sans-serif;
	margin: 0 0 25px 0;
	width: 100%;
	@media (max-width: 855px) {
		width: 25vw;
	}
	@media (max-width: 720px) {
		font-size: 0.8rem;
	}
	@media (max-width: 585px) {
		font-size: 1rem;
		width: 90vw;
	}
}

.designation{
    font-size: 1.2rem;
	margin: 5px 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	letter-spacing: 2px;
	@media (max-width: 720px) {
		font-size: 1rem;
	}
	@media (max-width: 585px) {
		font-size: 1.3rem;
		width: 90vw;
	}
}

.cast-list{
    display: flex;
	flex-direction: row;
	height: 29vh;
	z-index: 1000;
	overflow-x: scroll;
	overflow-y: hidden;
	@media (max-width: 855px) {
		width: 30vw;
		height: 25vh;
	}
	@media (max-width: 585px) {
		width: 100vw;
		height: 25vh;
	}
}